<h3 class="mt-2 mb-3">Categories</h3>
<div class="category-menu-panel custom-scrollbar">
  <ul>
    <li tabindex="0"><a>Denim</a></li>
    <li tabindex="0"><a>Sweaters</a></li>
    <li tabindex="0"><a>T-Shirt</a></li>
    <li tabindex="0"><a>Pants &amp; Shorts</a></li>
    <li tabindex="0"><a>Outwear</a></li>
    <li tabindex="0"><a>Shoes</a></li>
    <li tabindex="0"><a>Accessories</a></li>
    <li tabindex="0"><a>Accessories</a></li>
    <li tabindex="0"><a>Accessories</a></li>
    <li tabindex="0"><a>Accessories</a></li>
    <li tabindex="0"><a>Pants &amp; Shorts very long long long string</a></li>
    <!--    <li tabindex="0"><a>Accessories</a></li>-->
  </ul>
</div>
