<h3 class="mt-0" style="">Categories</h3>
<p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="category-menu-panel">
  <div class="flex flex-column p-0">
    <a tabindex="0"
 class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150"
  style="background-color:#E8F1F8B2;"
  >Denim</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Sweaters</a><a
    tabindex="0"
    class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">T-Shirt</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Pants
    &amp; Shorts</a><a tabindex="0"
                       class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Outwear</a><a
    tabindex="0"
    class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Shoes</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Accessories</a>
  </div>
</p-scrollPanel>



<div class="col-fixed flex flex-column lg:col-2 lg:w-3 mr-4 p-0 w-full">
  <div class="flex flex-column p-0"><a tabindex="0"
                                       class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Denim</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Sweaters</a><a
    tabindex="0"
    class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">T-Shirt</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Pants
    &amp; Shorts</a><a tabindex="0"
                       class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Outwear</a><a
    tabindex="0"
    class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Shoes</a><a
    tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Accessories</a>
  </div>

</div>
