<ul class="fade-in-down-user-profile">
  <li class="layout-submenu-header">
    <!--              <img-->
    <!--                src="assets/layout/images/avatar-profile.png"-->
    <!--                alt=""-->
    <!--                class="profile-image"-->
    <!--                style="display:none!important;"-->
    <!--              >-->
    <i class="pi pi-user"></i>
    <div class="profile-info">
      <h6>{{userAlias$ | async}}</h6>
      <span>{{username$ | async}}</span>
    </div>
  </li>
  <li role="menuitem">
    <a routerLink="/profile/settings" (click)="onClickProfileSettings($event)">
      <i class="pi pi-cog"></i>
      <h6>Settings</h6>
    </a>
  </li>
  <li role="menuitem">
    <a routerLink="/support" (click)="onClickSupport($event)">
      <i class="pi pi-compass"></i>
      <h6>Support</h6>
    </a>
  </li>
  <li role="menuitem">
    <a routerLink="/logout" (click)="onClickLogout($event)">
      <i class="pi pi-power-off"></i>
      <h6>Sign out</h6>
    </a>
  </li>
</ul>
