<div class="layout-wrapper">
  <div class="layout-main">
    <div class="layout-topbar"></div>
    <div class="layout-content">
      <div class="row mt-3 mb-3">
        <div class="col-12 align-self-center text-center">
          <h2>e-Commerce</h2>
        </div>
      </div>
      <ec-product-list></ec-product-list>
    </div>
    <p-footer>
      <div class="layout-footer">
        <div class="layout-footer-left">
        <span>
          Demo E-Commerce implementation using Spring Boot, Angular and PrimeNG
        </span>
        </div>
        <div class="layout-footer-right">
          <a href="https://github.com/dnovysh/ecommerce-angular" class="mr-3" target="_blank">
            <i class="pi pi-github"></i>
          </a>
        </div>
      </div>
    </p-footer>
  </div>
</div>
