<p-sidebar
  [(visible)]="visibleProperties"
  (onHide)="onVisibleChange()"
  (onShow)="onVisibleChange()"
  [baseZIndex]="10000"
>
  <div class="side-menu-wrapper">
    <ul class="side-menu-groups">
      <li>
        <span>Administration</span>
        <ul>
          <li class="p-disabled"><a href=""> User </a></li>
          <li><a routerLink="/admin/roles" routerLinkActive="active-route"> Role </a></li>
          <li><a routerLink="/admin/authorities" routerLinkActive="active-route"> Authority </a></li>
        </ul>
      </li>
      <li>
        <span>Catalog</span>
        <ul>
          <li><a routerLink="/management/categories" routerLinkActive="active-route"> Category </a></li>
          <li><a href=""> Product </a></li>
        </ul>
      </li>
    </ul>
  </div>
</p-sidebar>
