<p-sidebar
  [(visible)]="visibleProperties"
  (onHide)="onVisibleChange()"
  (onShow)="onVisibleChange()"
  [baseZIndex]="10000"
>
  <div class="side-menu-wrapper">
    <ul class="side-menu-groups">
      <li>
        <span>Administration</span>
        <ul>
          <li><a href=""> Authority </a></li>
          <li><a href=""> Role </a></li>
          <li><a href=""> User </a></li>
        </ul>
      </li>
      <li>
        <span>Catalog</span>
        <ul>
          <li><a href=""> Category </a></li>
          <li><a href=""> Product </a></li>
        </ul>
      </li>
    </ul>
  </div>
</p-sidebar>
