<p-toast key="productsToast"></p-toast>
<div class="products-wrapper">
  <div class="products-container">
    <p-toolbar styleClass="mb-4 pt-0 flex-nowrap align-items-start">
      <ng-template pTemplate="left">
        <div class="products-filter">
          <span>
            <label for="dealerFilterId">Dealer</label>
            <p-dropdown *ngIf="dealerList" [options]="dealerList" [(ngModel)]="filterByDealer"
                        placeholder="Select a Dealer" optionLabel="name" [showClear]="true"
                        inputId="dealerFilterId"
            ></p-dropdown>
          </span>
          <span>
            <label for="skuFilterId">Sku</label>
            <input id="skuFilterId" type="text" pInputText [(ngModel)]="filterBySku">
          </span>
          <span>
            <label for="nameFilterId">Name</label>
            <input id="nameFilterId" type="text" pInputText [(ngModel)]="filterByName">
          </span>
          <span>
            <label for="categoryFilterId">Category</label>
            <p-dropdown *ngIf="categoryList" [options]="categoryList" [(ngModel)]="filterByCategory"
                        placeholder="Select a Category" optionLabel="name" [showClear]="true"
                        inputId="categoryFilterId"
            ></p-dropdown>
          </span>
          <span>
            <label for="minStockFilterId">Min stock</label>
            <p-inputNumber [(ngModel)]="filterByMinUnitsInStock" mode="decimal"
                           inputId="minStockFilterId" [useGrouping]="false"
            ></p-inputNumber>
          </span>
          <span>
            <label for="maxStockFilterId">Max stock</label>
            <p-inputNumber [(ngModel)]="filterByMaxUnitsInStock" mode="decimal"
                           inputId="maxStockFilterId" [useGrouping]="false"
            ></p-inputNumber>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="filter-control mt-5">
          <button pButton pRipple label="Clear" icon="pi pi-times"
                  class="p-button-secondary  mr-2"
                  (click)="onClearFilter()"
          ></button>
          <button pButton pRipple label="Search" icon="pi pi-search"
                  class="p-button"
                  (click)="onSearch()"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"
        ></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length || loading()"
                *ngIf="hasDeletePermission"
        ></button>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="Refresh" icon="pi pi-refresh"
                class="p-button-text p-button-secondary"
                (click)="onRefresh()"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt *ngIf="products" [value]="products"
             [lazy]="true"
             (onLazyLoad)="onLazyLoadProducts($event)"
             [lazyLoadOnInit]="false"
             [loading]="loading()"
             sortMode="multiple" [multiSortMeta]="multiSortMeta"
             [paginator]="true"
             [first]="page.number * page.size" [rows]="page.size" [totalRecords]="page.totalElements"
             [rowsPerPageOptions]="[5,10,20,50,100]"
             [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
             [selectionPageOnly]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true"
             responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Products</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">Id
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="sku">Sku
            <p-sortIcon field="sku"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th>Image</th>
          <th pSortableColumn="unitsInStock">Stock
            <p-sortIcon field="unitsInStock"></p-sortIcon>
          </th>
          <th pSortableColumn="unitPrice">Price
            <p-sortIcon field="unitPrice"></p-sortIcon>
          </th>
          <th pSortableColumn="category.name">Category
            <p-sortIcon field="category.name"></p-sortIcon>
          </th>
          <th pSortableColumn="rating">Rating
            <p-sortIcon field="rating"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
          </td>
          <td>{{product.id}}</td>
          <td>{{product.sku}}</td>
          <td>{{product.name}}</td>
          <td>
            <img
              [src]="getProductImageSrc(product.image)"
              [default]="getDefaultProductImage()"
              [defaultAlt]="product.name"
              alt=""
              width="100"
              class="shadow-4"
            />
          </td>
          <td>{{product.unitsInStock}}</td>
          <td>{{product.unitPrice | currency:'USD'}}</td>
          <td>{{product.category.name}}</td>
          <td>{{product.rating}}</td>
          <td>
            <div class="inline-flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                      (click)="editProduct(product)"
              ></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                      (click)="deleteProduct(product)"
                      *ngIf="hasDeletePermission"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{page ? page.totalElements : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ec-product-create *ngIf="productCreateDialog"
                   [dealerId]="dealerId"
                   [dealerSelection]="dealerSelection"
                   (createProduct)="onCreateProduct($event)"
></ec-product-create>
